:root {
    --white-color: #FAF1F1;
    --neon-green-color: #14EDB9;
    --dark-green-color: #11B68F;
    --bottle-green-color: #05664F;
    --blue-color: #2AA5AD;
    --light-blue-color: #cbf3f0;
    --orange-color: #ffbf69;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

header {
    height: 70px;
    background-color: var(--orange-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.left-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}

.left-header img {
    padding-right: 10px;

}

.logo {
    animation: slide-to-right 2s forwards;
}

@keyframes slide-to-right {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(0);
    }
}

.big-text {
    font-size: 2rem;
    border-bottom: 1px solid var(--bottle-green-color);
    color: var(--neon-green-color);
}

.small-text {
    font-size: 1.5rem;
    color: var(--dark-green-color);
}

.right-header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;

}

.right-header ul li {
    animation: slide-to-left 2s forwards;
}

@keyframes slide-to-left {
    from {
        transform: translateX(400%);
    }

    to {
        transform: translateX(0);
    }
}


/* MAIN */

main {
    width: 100vw;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--light-blue-color);

    height: 300px;
}

.section1>img {
    width: 40vw;
    height: 400px;
    margin-top: 30px;
    border-radius: 7%;
}

.section1 .left {
    display: flex;
    flex-direction: column;
    animation: slide-to-right 3s forwards;
}

.section1 .left p {
    width: 400px;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 100px;
    background-color: var(--dark-green-color);
    padding-bottom: 60px;
}

.section2>h3 {
    padding: 30px 0;
    text-align: center;
    font-size: 2rem;
    animation: slide-to-right 4s forwards;
}

.section2>div {
    display: flex;
    justify-content: space-evenly;
}

.stars {
    padding: 20px 0;
}

.card {
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5%;
    background-color: var(--white-color);
    box-shadow: -2px 2px 5px 2px grey;
}

.card>p {
    text-align: justify;
    width: 80%;
}

.card>img {
    width: 80px;
    height: 80px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    margin-top: auto;
    background-color: var(--light-blue-color);
}